.features {
  display: grid;
  grid-template-rows: 1fr 2fr repeat(5, min-content) 1fr;
  grid-template-columns: 1fr auto 12fr 1fr;

  font-family: Verdana;
  font-size: 13rem;

  background-color: var(--light);

  h6 {
    font-size: 16rem;
    font-weight: bold;
    margin-bottom: 8rem;
  }

  &__launch {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    margin-bottom: 30rem;
    margin-right: 20rem;
    text-align: justify;
  }

  &__optimized {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    margin-bottom: 30rem;
    margin-right: 20rem;
    text-align: justify;
  }

  &__loved {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    margin-bottom: 30rem;
    margin-right: 20rem;
    text-align: justify;
  }

  &__parallax {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
    margin-right: 20rem;
    text-align: justify;
  }

  &__panel {
    grid-row: 6 / 7;
    grid-column: 3 / 4;
    margin-right: 20rem;
    text-align: justify;
  }

  &__wooc {
    grid-row: 7 / 8;
    grid-column: 3 / 4;
    margin-right: 20rem;
    text-align: justify;
  }

  &__launchicon {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-right: 10rem;
  }

  &__optimizedicon {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    margin-right: 10rem;
  }

  &__lovedicon {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    margin-right: 10rem;
  }

  &__parallaxicon {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    margin-right: 10rem;
  }

  &__panelicon {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    margin-right: 10rem;
  }

  &__woocicon {
    grid-row: 7 / 8;
    grid-column: 2 / 3;
    margin-right: 10rem;
  }

  @include respond-to("small") {
    // display: grid;
    grid-template-rows: 55px 2fr min-content 55px;
    grid-template-columns: 40px min-content 2fr min-content 2fr min-content 2fr 40px;

    background-color: var(--light);
    font-family: Verdana;
    font-size: 14rem;

    p {
      font-size: 12rem;
    }

    &__launch {
      grid-row: 2 / 3;
      grid-column: 3 / 4;
      margin-right: 10rem;
      text-align: left;
    }

    &__optimized {
      grid-row: 2 / 3;
      grid-column: 5 / 6;
      margin-right: 10rem;
      text-align: left;
    }

    &__loved {
      grid-row: 2 / 3;
      grid-column: 7 / 8;
      margin-right: 10rem;
      text-align: left;
    }

    &__parallax {
      grid-row: 3 / 4;
      grid-column: 3 / 4;
      margin-right: 10rem;
      text-align: left;
    }

    &__panel {
      grid-row: 3 / 4;
      grid-column: 5 / 6;
      margin-right: 10rem;
      text-align: left;
    }

    &__wooc {
      grid-row: 3 / 4;
      grid-column: 7 / 8;
      margin-right: 10rem;
      text-align: left;
    }

    &__launchicon {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      margin-right: 10rem;
    }

    &__optimizedicon {
      grid-row: 2 / 3;
      grid-column: 4 / 5;
      margin-right: 10rem;
    }

    &__lovedicon {
      grid-row: 2 / 3;
      grid-column: 6 / 7;
      margin-right: 10rem;
    }

    &__parallaxicon {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      margin-right: 10rem;
    }

    &__panelicon {
      grid-row: 3 / 4;
      grid-column: 4 / 5;
      margin-right: 10rem;
    }

    &__woocicon {
      grid-row: 3 / 4;
      grid-column: 6 / 7;
      margin-right: 10rem;
    }
  }

  @include respond-to("medium") {
    display: grid;
    grid-template-rows: 1fr 2fr min-content 1fr;
    grid-template-columns: 1fr min-content 2fr min-content 2fr min-content 2fr 1fr;

    font-family: Verdana;
    font-size: 14rem;

    background-color: var(--light);

    &__launch {
      grid-row: 2 / 3;
      grid-column: 3 / 4;
      margin-bottom: 30rem;
    }

    &__optimized {
      grid-row: 2 / 3;
      grid-column: 5 / 6;
      margin-bottom: 30rem;
    }

    &__loved {
      grid-row: 2 / 3;
      grid-column: 7 / 8;
      margin-bottom: 30rem;
    }

    &__parallax {
      grid-row: 3 / 4;
      grid-column: 3 / 4;
      margin-bottom: 30rem;
    }

    &__panel {
      grid-row: 3 / 4;
      grid-column: 5 / 6;
      margin-bottom: 30rem;
    }

    &__wooc {
      grid-row: 3 / 4;
      grid-column: 7 / 8;
      margin-bottom: 30rem;
    }

    &__launchicon {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }

    &__optimizedicon {
      grid-row: 2 / 3;
      grid-column: 4 / 5;
    }

    &__lovedicon {
      grid-row: 2 / 3;
      grid-column: 6 / 7;
    }

    &__parallaxicon {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
    }

    &__panelicon {
      grid-row: 3 / 4;
      grid-column: 4 / 5;
    }

    &__woocicon {
      grid-row: 3 / 4;
      grid-column: 6 / 7;
    }

    h6 {
      font-size: 16rem;
      font-weight: bold;
      margin-bottom: 10rem;
    }
  }

  @include respond-to("large") {
    display: grid;
    grid-template-rows: 1fr 2fr min-content 1fr;
    grid-template-columns: 1fr min-content 360px min-content 360px min-content 360px 1fr;

    h6 {
      font-size: 17rem;
      font-weight: bold;
    }

    p {
      font-size: 14rem;
    }
  }
}
